button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008b34;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0038a4;
}